.all {
    position: relative;
}


.addproduct {
    position: absolute;
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    font-size: 20px;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 10px;
}


.noproduct {
    display: flex;
    margin: 200px;
    flex-direction: column;
    align-items: center;
}

.noproduct button {
    width: 200px;
    margin: 15px;
    font-size: 20px;
}

.noproduct b {
    font-size: 30px;
}

.body {
    margin: 2em 4em;
}


.thead {
    padding: 12px 0px 12px 20px;
    display: flex;
    align-items: center;
}

.tbuttons {
    display: flex;
    background-color: rgb(50, 50, 50);
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.tbuttons button {
    margin: 0px 6.5% 0px 0px;
    width: 100px;
}

.hitem {
    width: 250px;
}

.subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-right: 10px;
    background-color: #BA1200;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: 0px;
    border-radius: 4px;
}

.button:hover {
    border-radius: 10px;
}
